* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  line-height: 1.4rem;
}

.App {
  font-family: Inter;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
